@{ 
    ViewBag.Title = "Admin Page";
}


<div class="jumbotron">
    <h4></h4>

    <div class="container">
        <div class="page-header">
            <h2>Page d'administration</h2>
        </div>

        <img src="~/Content/Image/IconAdmin.png" alt="Management image" />

        @Html.ActionLink("Gestion des utilisateurs", "Index", "Users")
    </div>

</div>